/vendor/
/.env
/database/*.sqlite*
/bootstrap/cache/*.php
/storage/app/private/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/.phpunit.cache/
/.qa/
.phpunit.result.cache
laravel-app/storage/framework/testing/
**/testing/disks/
/node_modules/
/public/hot
/public/build/
/scratch/
